/* Define styles for FuturaTitleSmall */
.futuraTitleSmall {
  font-family: 'FuturaBTBook', sans-serif;
  font-size: 28px;
  font-weight: bold;
  color: #333;
}

/* Define styles for FuturaTitleXSmall */
.futuraTitleXSmall {
  font-family: 'FuturaBTBook', sans-serif;
  font-size: 20px;
  font-weight: bold;
  /* color: #333; */
}

/* Define styles for FuturaHeadingLarge */
.futuraHeadingLarge {
  font-family: 'FuturaBT-ExtraBlack', sans-serif;
  font-size: 35px;
  font-weight: bold;
  color: #333;
}

/* Define styles for FuturaHeadingMedium */
.futuraHeadingMedium {
  font-family: 'FuturaBTBook', sans-serif;
  font-size: 20px;
  font-weight: light;
  color: #333;
}

/* Define styles for FuturaHeadingSmall */
.futuraHeadingSmall {
  font-family: 'FuturaBTBook', sans-serif;
  font-size: 16px;
  font-weight: bold;
  color: #333;
}

/* Define styles for FuturaParagraphMedium */
.futuraParagraphMedium {
  font-family: 'FuturaBTBook', sans-serif;
  font-size: 30px;
  font-weight: normal;
  color: #333;
}

/* Define styles for FuturaParagraphSmall */
.futuraParagraphSmall {
  font-family: 'FuturaBT-MediumCondensed', sans-serif;
  font-size: 12px;
  font-weight: light;
  color: #333;
}

/* Define styles for NewYorkHeadingSmall */
.newYorkHeadingSmall {
  font-family: 'NewYorkExtraLarge-Regular', serif;
  font-size: 20px;
  font-weight: normal;
  color: #333;
}

/* Define styles for NewYorkHeadingXSmall */
.newYorkHeadingXSmall {
  font-family: 'NewYorkExtraLarge-Regular', serif;
  font-size: 12px;
  font-weight: bold;
  color: #333;
}

/* Define styles for Timberwolf44 */
.timberwolf44 {
  font-family: 'TimberWolf-Regular', sans-serif;
  font-size: 44px;
  font-weight: normal;
  color: #333;
}

/* Define styles for Timberwolf28 */
.timberwolf28 {
  font-family: 'TimberWolf-Regular', sans-serif;
  font-size: 28px;
  font-weight: normal;
  color: #333;
}

.margin-bottom-30 {
  margin-bottom: 30px;
}

.margin-bottom-8 {
  margin-bottom: 8px;
}
