@font-face {
  font-display: "swap";
  font-family: "FuturaBTBook";
  src: local("FuturaBTBook"), url("../public/fonts/FuturaBT-Book.woff2") format("woff2");
}

@font-face {
  font-display: "swap";
  font-family: "FuturaBT-ExtraBlack";
  src: local("FuturaBT-ExtraBlack"), url("../public/fonts/FuturaBT-ExtraBlack.woff2") format("woff2");
}

@font-face {
  font-display: "swap";
  font-family: "FuturaBT-MediumCondensed";
  src: local("FuturaBT-MediumCondensed"), url("../public/fonts/FuturaBT-MediumCondensed.woff2") format("woff2");
}

@font-face {
  font-display: "swap";
  font-family: "NewYorkExtraLarge-Regular";
  src: local("NewYorkExtraLarge-Regular"), url("../public/fonts/NewYorkExtraLarge-Regular.woff2") format("woff2");
}

@font-face {
  font-display: "swap";
  font-family: "TimberWolf-Regular";
  src: local("TimberWolf-Regular"), url("../public/fonts/TimberWolf-Regular.woff2") format("woff2");
}

body {
  margin: 0;
}
